
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Choisir un restaurant</title>
</head>
<body>
    <p>Prêts à choisir un restaurant?</p>
    <br/>
    <button>Créer un sondage</button>
    <br/>
    <ul>
        <li><a href="#">Ajouter un restaurant</a></li>
        <li><a href="#">Modifier un restaurant</a></li>
    </ul>
</body>
</html>
