
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Choisir un restaurant</title>
</head>
<body>
    <p>Prêts à choisir un restaurant?</p>
    <br/>
    <button>Créer un sondage</button>
    <br/>
    <ul>
        <li>@Html.ActionLink("Ajouter un restaurant", "CreerRestaurant", "Restaurant")</li>
        <li>@Html.ActionLink("Modifier un restaurant", "ModifierRestaurant", "Restaurant")</li>
    </ul>
</body>
</html>
