@model ChoixResto.ViewModels.RestaurantVoteViewModel
@{
    Layout = null;
}


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Cochez les restaurants où vous voulez bien aller. Attention, le vote est définitif !
    </div>
    @using (Html.BeginForm("Index", "Vote"))
    {
        foreach (var resto in Model.ListeDesResto)
        {
            <div>
                @Html.LabelFor(r => resto.Id)                               
                
                
                @Html.CheckBoxFor(r => resto.EstSelectionne)
            </div>
        }
    }
</body>

