@model List<ChoixResto.Models.Resto>
@{
    Layout = null;
}


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Cochez les restaurants où vous voulez bien aller. Attention, le vote est définitif !
    </div>
    @using (Html.BeginForm("Index", "Vote"))
    {
        foreach (var resto in Model)
        {
            <div>
                <p>@Html.LabelFor(r => r.resto.Nom)
                @Html.LabelFor(r => r.resto.Telephone)                
                </p>
                
                @Html.CheckBoxFor(r => r.resto.Nom)
            </div>
        }
    }
</body>

